<div>
    <div th:if="${error != null}" class="card text-white bg-danger mb-3 messageError" style="max-width: 70%; max-height: 100px; margin-left: 15%;">
        <div class="card-body" style="max-width: 70%; max-height: 100px; margin-left: 15%;">
            <h5 class="card-tittle">Error !</h5>
            <p class="card-text" th:text="${error}"></p>
        </div>
    </div>
    <div th:if="${exito != null}" class="card text-white bg-success mb-3 messageError" style="max-width: 70%; max-height: 100px; margin-left: 15%;">
        <div class="card-body" style="max-width: 70%; max-height: 100px; margin-left: 15%;">
            <h5 class="card-tittle">Exito !</h5>
            <p class="card-text" th:text="${exito}"> </p>
        </div>
    </div>
</div>