<footer>
  <div class="conteiner-fluid p-0 m-0 g-0">
    <div class="row">
      <div class="col-12 col-lg-4 mb-lg-0 mb-4 order-3 order-lg-1">
        <div class="logos">
          <ul class="list-unstyled d-flex justify-content-center align-items-center">
            <li><a href="#"><img src="../../img/icon_circulo_ig.svg"
                  alt="logo instagram"></a></li>
            <li><a href="#"><img src="../../img/icon_circulo_fb.svg"
                  alt="logo facebook"></a></li>
            <li><a href="#"><img src="../../img/icon_phone_2.svg"
                  alt="logo teléfono"></a></li>
            <li><a href="#"><img
                  src="../../img/icon_circulo_mail.svg"
                  alt="logo email"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-4 mb-lg-0 mb-4 order-2 order-lg-2 d-flex flex-column align-items-center justify-content-center">
        <div class="ayuda">
          <ul class="list-unstyled text-center">
            <li class="text-dark">AYUDA</li>
            <li><a href>Trabaja con Nosotros</a></li>
            <li><a href>Términos y Condiciones</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-4 mb-lg-0 mb-4 order-1 order-lg-3 d-flex flex-column align-items-center justify-content-center">
        <div class="copy">
          <div class="div-copy text-center">
            <h6>ServiceBook</h6>
            <p>
              ® Copyright 2023<br>
              Todos los derechos reservados
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
