@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,200;1,300;1,500&family=Roboto:wght@900&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*{
  /* font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif; */
  margin: 0;
  padding: 0;
}

body {
  background-color: #dcdcdc;
  display: grid;
  font-family: Lato, Helvetica, sans-serif;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

:root {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}

.row {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}

.dropdown-toggle::after {
  display: none;
}

.nav-scroller {
  height: 2.75rem;
  overflow-y: hidden;
  position: relative;
  z-index: 2;
}

.nav-scroller .nav {
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: nowrap;
  margin-top: -1px;
  overflow-x: auto;
  padding-bottom: 1rem;
  text-align: center;
  white-space: nowrap;
}

.navbar {
  background-color: #00b6cd;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,.5);
}

.navbar input {
  background-color: #ffffff;
  border: 2px solid #ccc; 
  border-radius: 10px;
  color: #000000;
  font-size: 16px;
  height: 35px;
  outline: none;
  padding: 10px;
}

.navbar input:focus {
  background-color: #ffffff;
  border: none;
  color: #000000;
  outline: none;
}

.navbar input::placeholder {
  color: #999;
}

.btnLogin {
  background-color: #ff4c22;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  height: 35px;
}

.btnLogin:hover {
  background-color: #ff4c22;
  border: 2px solid #ffffff;
}

.btnBuscar {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0; 
}

.btnBuscar img{
  background-color: #00b6cd;
  height: 25px;
}

.modal-content h2, h5 {
  color: #ffffff;
}

.btnBuscar:hover {
  background: none;
  border: 1px solid white;
  cursor: pointer;
  margin: 0;
  padding: 0; 
}

.modal-content hr {
  border: 1px solid #ffffff;
  margin: 10px 0;
  opacity: 1;
}

.modal-content input {
  background-color: #ffffff; 
  border: 2px solid #ccc; 
  border-radius: 10px;
  color: #000000;
  font-size: 16px;
  height: 30px;
  outline: none;
  padding: 10px;
}

.modal-content input:focus {
  border: none;
}

.modal-content button {
  background-color: #ff4c22;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  height: 35px;
}

.modal-content button:hover {
  border: 2px solid #ffffff;
}

input::placeholder {
  color: #999;
}

#btnEliminar {
  background-color: red;
}

#btnCancelar {
  background-color: rgb(186, 182, 182);
}

.modal-content a {
  color: #ffffff;
  font-size: 16px;
}

.modal-content a:hover {
  color: yellow;
}

.modal {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: #00b6cd;
  border: 1px solid #888;
  height: auto;
  margin: auto auto;
  padding: 20px;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

#loginModal {
  z-index: 1000; 
}

#registerModal {
  z-index: 1000;
}

#deleteModal {
  z-index: 1000;
}

.carousel-control-prev, .carousel-control-next {
    display: none;
}

.tarjeta-carousel {
  background-color: #00b6cd;
}

.tarjeta-carousel p {
  font-size: 19px;
  font-weight: normal;
  overflow-wrap: break-word;
}

#perfilDropdown {
  height: 30px;
  width: 30px;
}

#perfilDropdown img {
  height: 30px;
  width: 30px;
}

#habilitar {
  height: 20px;
  width: 20px;
}

footer {
  background-color: white;
  box-sizing: border-box;
  padding: 25px 0;
}

.contenedor {
  box-sizing: border-box;
}

.logos img {
  filter: invert(84%) sepia(0) saturate(0) hue-rotate(331deg) brightness(92%) contrast(89%);
  margin: 0 10px 0 0;
  width: 59px;
}

.logos {
  box-sizing: border-box;
}

.logos li {
  padding: 5px;
}

.logos img:hover {
  filter: invert(78%) sepia(38%) saturate(2760%) hue-rotate(4deg) brightness(109%) contrast(107%);
}

.ayuda {
  box-sizing: border-box;
} 

.ayuda a {
  color: #BEBEBE;
  font-size: 13px;
  text-decoration: none;
}

.ayuda a:hover {
  color: #dbdb21;
}

.ayuda li {
  color: #BEBEBE;
  margin: 10px 0;
}

.copy {
  box-sizing: border-box;
}

.div-copy {
  padding: 0 12px;
}

.div-copy p {
  color: #BEBEBE;
  font-size: 15px;
  line-height: 1.5;
}

.dropdown-menu {
  border: 1px solid rgba(0, 0, 0, 0.3); 
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1); 
}

.dropdown-item {
  color: #333; 
  overflow: hidden; 
  transition: transform 0.3s; 
}

.dropdown-item a {
  color: #333;
  display: block; 
  padding: 0.75rem 1.25rem; 
}

.dropdown-item:hover a {
  background-color: #f8f9fa; 
  color: #0056b3;
}

#enlace-borrar {
  color: red; 
}

#enlace-borrar:hover {
  background-color: #f8d7da; 
  color: #721c24; 
}

.dropdown-menu {
  width: 200px; 
}

.card-footer {
  background-color: #f8f9fa;
  border-radius: 0 0 5px 5px !important;
  border-top: 1px solid #dee2e6;
  padding: 10px;
}

.stars {
  color: #ffc107;
  display: inline-block;
  font-size: 20px; 
}

.text-body-secondary {
  color: #6c757d;
}

.card-footer button {
  border-radius: 20px;
}

.titulo-modificar {
  background-color: #00b6cd;
  height: 200px;
}

.desplegable {
  border: 1px solid #ccc;
  overflow: hidden;
  transition: transform 0.3s;
  width: 100%;
}

.cabecera {
  background-color: #ccc;
  color: #000000;
  cursor: pointer;
  height: 120px;
  transition: background-color 0.3s, transform 0.3s;
}

.flecha {
  height: 20px;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
  width: 20px; 
}

.detalles {
  border-top: 1px solid #ccc;
  display: none;
  padding: 10px;
}

.detalles input {
  margin-bottom: 10px;
  width: 100%; 
}

.detalles.active {
  display: block;
}

.flecha.active {
  transform: rotate(180deg);
}

@keyframes caidaDesdeArriba {
  0% { opacity: 0; transform: translateY(-100%); }
  100% { opacity: 1; transform: translateY(0); }
}

.formulario {
  animation: caidaDesdeArriba 0.5s ease-in-out; 
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.formulario2 {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.foto-usuario {
  background-color: #ccc;
  height: 320px;
}

.rounded-modificar-arriba {
  border-radius: 40px 40px 0px 0px;
}

.rounded-modificar-abajo {
  border-radius: 0px 0px 40px 40px;
}

.foto-usuario {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

#foto-perfil {
  display: inline-block;
  position: relative;
}

#foto-perfil img {
  border-radius: 50%; 
  height: 150px;
  width: 150px; 
}

#foto-perfil .fa-camera {
  background-color: #fff; 
  border-radius: 50%;
  bottom: 0;
  padding: 5px;  
  position: absolute;
  right: 0;
}

.imagen-perfil-miniatura {
  border-radius: 50%;
}

#foto-perfil:hover::before {
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  color: #fff;
  content: 'CAMBIAR \A FOTO';
  display: flex;
  font-size: 0.6rem;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  white-space: pre;
  width: 100%;
}

#imagen {
  display: none;
}

#botones {
  display: flex;
  gap: 1rem;
}

#boton-modificar,
#boton-guardar {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

#boton-modificar {
  background-color: #3498db;
  color: #fff;
}

#boton-guardar2, #boton-guardar3, #boton-guardar4, #boton-guardar5, #boton-guardar6 {
  background-color: #2ecc71;
  color: #fff;
  margin: 25px 15%;
  width: 70%;
}

#boton-guardar {
  background-color: #2ecc71;
  color: #fff;
  min-width: 150px;
}

.contenedor-modificar input {
  margin: 2px auto;
  width: 70%;
}

.contenedor-modificar label {
  margin: 2px 15%;
}

#btnDireccion {
  background-color: rgb(57, 57, 248);
  color: #fff;
  margin: 25px 15%;
  width: 70%;
}

.enlaceModificar img {
  height: 20px;
  width: 20px;
}

.enlaceEliminar img {
  display: block;
  height: auto;
  width: 100%;
}

.enlaceEliminar {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 20px;
  outline: none;
  padding: 0;
  width: 20px;
}

select {
  margin-left: 15%;
  width: 70%;
}

.presentacion {
  margin-left: 15%;
  width: 70%;
}

.contenedor-disponible {
  margin-left: 15%;
  width: 70%;
}

.disponible {
  margin-left: 2px !important;
  width: 6% !important;
}

select[multiple] {
  padding: 5px;
}

select[multiple]:hover {
  cursor: pointer; 
}

select[multiple]:focus {
  border-color:  #00b6cd; 
}

.btnProfesion {
  margin-left: 15%;
  width: 70%;
}

.home {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0; 
}

.home img {
  height: 23px;
}

.logo-admin {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.logo-admin img {
  height: 23px;
}

td img {
  height: 20px;
}

td {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.select2-container {
  margin-bottom: 20px !important;
  margin-left: 15% !important;
  width: 70% !important;
}

#customDropdownParent ul {
  text-align: center !important;
}

#customDropdownParent {
  position: relative !important;
}

.select2-container--open {
  left: 0 !important;
}

@media (max-width: 576px) {
  .modal-content {
    width: 85%;
  }

  #carouselExampleFade img {
    width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .modal-content {
    width: 65%;
  }

  #carouselExampleFade img {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 992px){
  .modal-content {
    width: 50%;
  }

  #carouselExampleFade img {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  .modal-content {
    width: 40%;
  }

  #carouselExampleFade img {
    height: 400px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px){
  .modal-content {
    width: 35%;
  }

  #carouselExampleFade img {
    height: 400px;
  }
}

@media (min-width: 1400px){
  .modal-content {
    width: 30%;
  }

  #carouselExampleFade img {
    height: 400px;
  }
}

@media (min-width: 769px) {
  .me-md-6 {
    margin-right: 4rem !important;
  }
}

.pagination {
  display: flex;
  list-style: none;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  border: 1px solid #ddd;
  color: #333;
  padding: 5px 10px;
  text-decoration: none;
}

.pagination .active a {
  background-color: #4CAF50;
  color: white;
}

#tarjetas {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    background-color: #007b5e;
    border-color: #007b5e;
    color: #fff;
}

section .section-title {
    color: #007b5e;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

#tarjetas .card {
    background: #ffffff;
    border: none;
    box-sizing: border-box; 
    margin: 15px;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    border-radius: .25rem;
    transform: rotateY(0deg);
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    perspective: 1000px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
}

.frontside {
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}

.backside {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    background: white;
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    left: 0;
    position: absolute;
    top: 0;
    transform: rotateY(-180deg);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: 1s;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
    color: #007b5e !important;
    font-size: 18px;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

#tarjetas .container-fluid {
  margin: 0 10px;
  width: calc(100% - 20px);
}

#tarjetas .btn-contactar {
  background-color: #ff4c22;
  color: white !important;
  margin-right: 30px;
}

#tarjetas .btn-ver-mas {
  background-color: #00b6cd;
  color: white !important;
}

.toastr { 
  border-radius: 10px;
  display: none;
  left: 50%;
  min-height: 30px;
  min-width: 300px;
  padding: 10px 15px;
  position: fixed;
  top: 70px;
  transform: translateX(-50%);
  z-index: 1500;
}

.toastr.success {
  background-color: #86f37b;
  border: 2px solid #13bb02;
  color: #095001;
}

.toastr.success h5 {
  color: #095001;
}

.toastr.error {
  background-color: #ff6060;
  border: 2px solid #dc1818;
  color: #3d0101;
}

.toastr.error h5 {
  color: #3d0101;
}