<!DOCTYPE html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <th:head th:replace="./fragments/head.html :: head"></th:head>
    <link rel="stylesheet" href="../../css/chat.css">
  </head>
  

  <body class="bg-gradient" style="background-image: linear-gradient(180deg, #e76b74  #D7AF70)">

    <th:header th:replace="./fragments/header.html :: header"></th:header>

    <main id="main-content">
    <div class="container-fluid m-0 p-0 g-0 w-100 contenedor">
      <div class="row p-0 m-0 g-0 w-100">
          <div class="col-1"></div>
          <div class="col-10">
              <div class="table_header">
                  <h1 class="py-5 mb-1 text-center">Trabajos ServiceBook</h1>
              </div>
              <table class="table table-bordered table-striped-columns border-primary table-hover">
                  <thead class="table-dark">
                      <tr>
                          <th class="text-center" scope="col">Id</th>
                          <th class="text-center" scope="col">Cliente</th>
                          <th class="text-center" scope="col">Proveedor</th>
                          <th class="text-center" scope="col">Titulo</th>
                          <th class="text-center" scope="col">Fecha</th>
                          <th class="text-center" scope="col">Horas</th>
                          <th class="text-center" scope="col">Alta/Baja</th>
                          <!-- <th class="text-center" scope="col">Costo Estimado</th> -->
                          <th class="text-center" scope="col">Aceptacion Cliente</th>
                          <th class="text-center" scope="col">Termino Proveedor</th>
                          <th class="text-center" scope="col">Termino Cliente</th>
                          <!-- <th class="text-center" scope="col">Calificacion</th> -->
                          <!-- <th class="text-center" scope="col">Descripcion</th> -->
                          <th class="text-center" scope="col">Ver Trabajo</th>
                      </tr>
                  </thead>
                  <tbody th:each="trabajo : ${trabajosCliente}">
                      <tr>
                          <td class="text-center" th:text="${trabajo.id}"></td>
                          <td class="text-center" th:text="${trabajo.cliente.id}"></td>
                          <td class="text-center" th:text="${trabajo.proveedor.id}"></td>
                          <td class="text-center" th:text="${trabajo.tituloTrabajo}"></td>
                          <td class="text-center" th:text="${trabajo.fechaTrabajo}"></td>
                          <td class="text-center" th:text="${trabajo.horasTrabajo}" ></td>
                          <td class="text-center" th:text="${trabajo.alta}"></td>
                          <!-- <td class="text-center" th:value=#>costo=horasXPrecio</td> -->
                          <td class="text-center" th:text="${trabajo.estaAceptadoCliente}"></td>
                          <td class="text-center" th:text="${trabajo.terminoProveedor}"></td>
                          <td class="text-center" th:text="${trabajo.terminoCliente}"></td>
                          <!-- <td class="text-center" th:text="${trabajo.calificaion}"></td> -->
                          <!-- <td class="text-center" th:text="${trabajo.Descripcion}"></td> -->
                          <td>
                            <form action="/trabajo/listaCliente" method="POST">
                              <input hidden name="idTrabajo" th:value="${trabajo.id}">
                              <input hidden name="idProveedor" th:value="${trabajo.proveedor.id}">
                              <button type="submit" class="btn btn-ver-trabajo">
                                <img src="../../img/edit.png" alt="editar perfil">
                              </button>
                            </form>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <div class="col-1"></div>
  </div>

  <div th:if="${verificacion != null}">
    
    <th:div th:replace="./fragments/exitoError.html :: div"></th:div>

    <h1 class="fw-light bienvenido text-center">Cliente ServiceBook</h1>

    <div class="container-fluid m-5 contenedor">
        
    
       <div class="row">
        
        <div class="col-5">
          <form class="formulario" th:action="@{/trabajo/modificarTrabajo}" method="POST" enctype="multipart/form-data">
            <div class="form-group my-3">
                <input hidden  th:value="${usuario.id}" type="text" class="form-control" name="idCliente">                    
                <b th:text="'T:' + ${trabajo.id}"></b>
                <input hidden th:value="${trabajo.id}" type="text" class="form-control" name="id">                    
                <label class="mb-2">  Fecha: </label>
                <b th:text="${trabajo.fechaTrabajo}"></b></label><br>
                <label class="mb-2">Usted esta contratando a: </label>
                <b th:text="${proveedor.nombre}"></b></label><br>
                <input hidden th:value="${proveedor.id}" type="text" class="form-control" name="idProveedor">                    
                <label class="mb-2">Titulo</label>
                <input type="text" class="form-control" th:value="${trabajo.tituloTrabajo}" name="tituloTrabajo" placeholder="titulo del trabajo">
                <label class="mb-2">Horas de Trabajo</label>
                <input type="text" class="form-control" th:value="${trabajo.horasTrabajo}" name="horasTrabajo" placeholder="horas de trabajo">
                <div
                  class="mb-4 d-flex justify-content-start align-items-center contenedor-disponible">
                  <span>Alta</span>
                  <input class="disponible" th:checked="${trabajo.alta}" type="checkbox" name="alta" />
                </div>
                <div
                  class="mb-4 d-flex justify-content-start align-items-center contenedor-disponible">
                  <span>terminoCliente</span>
                  <input class="disponible" th:checked="${trabajo.terminoCliente}" type="checkbox" name="terminoCliente" />
                </div>
                <div
                  class="mb-4 d-flex justify-content-start align-items-center contenedor-disponible">
                  <span>terminoProveedor</span>
                  <input class="disponible" th:checked="${trabajo.terminoProveedor}" type="checkbox" name="terminoProveedor" />
                </div>
                <div
                  class="mb-4 d-flex justify-content-start align-items-center contenedor-disponible">
                  <span>estaAceptadoCliente</span>
                  <input class="disponible" th:checked="${trabajo.estaAceptadoCliente}" type="checkbox" name="estaAceptadoCliente" />
                </div>
            </div>
            <aside>
              <!-- <input th:value="${trabajo.fechaTrabajo}" type="date" name="fechaTrabajo" id="calendario"> -->
              <input th:value="${#dates.format(trabajo.fechaTrabajo, 'yyyy-MM-dd')}" type="date" name="fechaTrabajo" id="calendario" />
              <button type="submit" class="btn btn-primary mt-3"> Actualizar </button>
  
            </aside>                 
        </form>  
        </div>
        <div class="col-1"></div>
        <div class="col-5">
          <div class="my-3">
              
            <section style="background-color: #eee;">
              <div class="container py-5">
            
                <div class="row d-flex justify-content-center g-0 m-0 p-0">
                  <div class="col-12">
                    <label class="mb-2">Titulo</label>
                    <input type="text" class="form-control" name="tituloTrabajo" th:value="${trabajo.tituloTrabajo}">
                    <div class="card" id="chat1" style="border-radius: 15px;">
                      <div
                        class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                        style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                        <i class="fas fa-angle-left"></i>
                        <p class="mb-0 fw-bold">Mensajes</p>
                        <i class="fas fa-times"></i>
                      </div>
                      <div class="card-body">
                        <div th:each="mensaje : ${mensajes}">
                          <div class="d-flex flex-row mb-4 justify-content-start">
                            <img th:if="${mensaje.tipo == T(com.servicebook.models.enums.TipoMensaje).PROVEEDOR}"
                            th:src="${proveedor?.foto != null} ? ${proveedor?.foto?.url} : '../../img/usuario-de-perfil.png'"
                            alt="foto proveedor" style="width: 45px; height: 100%;">
                            <div class="p-3 ms-3" th:if="${mensaje.tipo == T(com.servicebook.models.enums.TipoMensaje).PROVEEDOR}" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                              <p class="small mb-0" th:text="${mensaje.texto}"></p>
                            </div>
                          </div>
  
                          <div class="d-flex flex-row mb-4 justify-content-end">
                            <img th:if="${mensaje.tipo == T(com.servicebook.models.enums.TipoMensaje).CLIENTE}" 
                            th:src="${usuario?.foto != null} ? ${usuario?.foto?.url} : '../../img/usuario-de-perfil.png'"
                              alt="foto usuario" style="width: 45px; height: 100%;">
                            <div class="p-3 ms-3" th:if="${mensaje.tipo == T(com.servicebook.models.enums.TipoMensaje).CLIENTE}" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                              <p class="small mb-0" th:text="${mensaje.texto}"></p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <form action="/trabajo/enviarMensaje" method="POST">
                        <input hidden name="idTrabajo" th:value="${trabajo.id}">
                        <input hidden name="idProveedor" th:value="${trabajo.proveedor.id}">
                        <div class="form-outline">
                          <textarea name="mensaje" id="mensaje" class="form-control" rows="4"></textarea>
                          <label class="form-label" for="mensaje">Escriba su mensaje</label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Enviar Mensaje</button>
                      </form>
                    </div>
                  </div>
                </div>
            
              </div>
            </section>    
              
          </div>                  
        </div>
       </div>
        
      
  </div> 

</div>
</main>
  <th:footer th:replace="./fragments/footer.html :: footer"></th:footer>
  <script src="../../js/color-modes.js"></script>
  <script src="../../js/registro-login.js"></script>
  <script src="../../js/bootstrap.bundle.min.js"></script>
  <script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>
