<!DOCTYPE html>
<html
  lang="en"
  data-bs-theme="auto"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <head th:replace="/fragments/head :: head" </head></head>

  <body>

    <div th:if="${exito != null}">
      <script th:inline="javascript">
        $(document).ready(function () {
            var exito = /*[[${exito}]]*/ null;
    
            if (exito) {
                Swal.fire({
                    icon: 'success',
                    title: '¡Éxito!',
                    text: /*[[${exito}]]*/ '',
                    confirmButtonText: 'OK'
                });
            }
        });
      </script>
    </div>

    <div th:if="${errorDireccion != null}">
      <script th:inline="javascript">
          $(document).ready(function() {
              var provincia = /*[[${provincia}]]*/ '';
              var localidad = /*[[${localidad}]]*/ '';
              var calle = /*[[${calle}]]*/ '';
              var numero = /*[[${numero}]]*/ '';
              abrirDireccion();
              $('#provincia').val(provincia);
              $('#localidad').val(localidad);
              $('#calle').val(calle);
              $('#numero').val(numero);
          });
      </script>
    </div>

    <header th:replace="/fragments/header :: header" </header></header>

    <div id="deleteModal"
      class="modal">
      <div class="modal-content">
        <div class="mb-2">
          <span class="d-flex justify-content-end close"
            onclick="closeDeleteModal()">&times;</span>
          <h2 class="d-flex justify-content-center">ServiceBook</h2>
        </div>
        <hr>
        <h5 class="text-center mb-3 mt-3">¿Está seguro que desea dar de baja su
          cuenta?</h5>
        <form th:action="@{/cliente/bajaCliente/__${usuario.id}__}"
          method="POST" class="d-flex flex-column">
          <div
            class="d-flex flex-column justify-content-center align-items-center">
            <label for="habilitar" class="mb-1 text-white">Habilitar Botón</label>
            <input type="checkbox" id="habilitar" name="habilitar">
          </div>
          <button type="submit" id="btnEliminar" class="mb-4 mt-4 btn" disabled>Si,
            eliminar</button>
          <button type="button" id="btnCancelar" class="mb-4 btn">Cancelar</button>
        </form>
      </div>
    </div>

    <main id="main-content" class="mb-5 me-0">

      <div
        class="text-white titulo-modificar w-100 d-flex justify-content-center align-items-center">
        <h1>
          Modificar Datos del Perfil
        </h1>
      </div>
      <div class="container-fluid p-0 m-0 g-0 contenedor-modificar">
        <div class="row p-0 m-0 no-gutters w-100">
          <div class="col col-sm-1 col-md col-lg"></div>
          <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <div
              class="foto-usuario mt-5 d-flex justify-content-center align-items-center rounded-modificar-arriba">
              <form action="/imagenes/upload" method="POST"
                enctype="multipart/form-data">
                <div id="foto-perfil">
                  <div id="camara" class="icono">
                    <i class="fas fa-camera fa-lg"></i>
                  </div>
                  <div id="perfil-foto" class="foto-perfil">
                    <img
                      th:src="${usuario.foto != null} ? ${usuario.foto.url} : './img/usuario-de-perfil.png'"
                      alt="Foto de perfil" id="imagen-perfil">
                  </div>
                  <input type="file" id="imagen" name="multipartFile"
                    accept="image/*">
                </div>
                <div id="botones" class="mt-4">
                  <button type="submit" id="boton-guardar">Guardar Cambios</button>
                </div>
              </form>
            </div>

            <div class="informacion-basica">
              <div id="desplegable" class="desplegable">
                <div id="cabecera" class="cabecera d-flex align-items-center">
                  <h2 class="flex-grow-1 text-center m-0">Información Básica</h2>
                  <img id="flecha" class="flecha me-5 ms-auto"
                    src="./img/flecha.png" alt="Flecha">
                </div>
                <div id="detalles" class="detalles p-0">
                  <form method="POST"
                    th:action="@{/cliente/modificar/__${usuario.id}__}"
                    id="formBasica" class="formulario" th:object="${usuario}">
                    <input hidden name="id" th:value="${usuario.id}">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" th:field="*{nombre}"
                      th:value="${usuario.nombre}">
                    <label for="email">Email:</label>
                    <input type="email" id="email" th:field="*{email}"
                      th:value="${usuario.email}">
                    <button type="submit" id="boton-guardar2">Actualizar</button>
                  </form>
                </div>
              </div>
            </div>

            <div class="informacion-direccion">
              <div id="desplegable-direccion" class="desplegable">
                <div id="cabecera-direccion"
                  class="cabecera d-flex align-items-center">
                  <h2 class="flex-grow-1 text-center m-0">Direccion</h2>
                  <img id="flecha-direccion" class="flecha me-5 ms-auto"
                    src="./img/flecha.png" alt="Flecha">
                </div>
                <div id="detalles-direccion" class="detalles p-0">
                  <div id="tabla">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="text-center" scope="col">Localidad</th>
                          <th class="text-center" scope="col">Provincia</th>
                          <th class="text-center" scope="col">Calle</th>
                          <th class="text-center" scope="col">Ciudad</th>
                          <th class="text-center" scope="col">Modificar</th>
                          <th class="text-center" scope="col">Eliminar</th>
                        </tr>
                      </thead>
                      <tbody th:each="direccion : ${usuario.direcciones}">
                        <tr>
                          <td class="text-center"
                            th:text="${direccion.localidad}"></td>
                          <td class="text-center"
                            th:text="${direccion.provincia}"></td>
                          <td class="text-center" th:text="${direccion.id}"></td>
                          <td class="text-center" th:text="${direccion.numero}"></td>
                          <td class="text-center">
                            <a href="#formDireccion" class="enlaceModificar"
                              th:attr="onclick=|mostrarFormularioModificar('${direccion.localidad}','${direccion.provincia}','${direccion.calle}','${direccion.numero}','${direccion.id}')|">
                              <img src="./img/edit.png" alt="imagen edit" />
                            </a>
                          </td>
                          <td class="text-center">
                            <form th:action="@{/direccion/eliminar/__${usuario.id}__/__${direccion.id}__}" method="POST">
                              <button type="submit" class="enlaceEliminar">
                                <img src="./img/delete.png" alt="imagen delete" />
                              </button>
                            </form>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <button type="button" id="btnDireccion"
                    th:attr="onclick=|mostrarFormularioRegistro('${usuario.id}')|">Agregar
                      Dirección</button>
                  </div>             
                </div>
              </div>
            </div>

            <div id="desplegable-contrasena"
              class="desplegable rounded-modificar-abajo">
              <div id="cabecera-contrasena"
                class="cabecera d-flex align-items-center">
                <h2 class="flex-grow-1 text-center m-0">Administrar Contraseñas</h2>
                <img id="flecha-contrasena" class="flecha me-5 ms-auto"
                  src="./img/flecha.png" alt="Flecha">
              </div>
              <div id="detalles-contrasena" class="detalles p-0">
                <form id="formContrasena" class="formulario">
                  <label for="contrasena-actual">Contraseña Actual:</label>
                  <input type="password" id="contrasena-actual"
                    name="contrasena-actual" required>

                  <label for="nueva-contrasena">Nueva Contraseña:</label>
                  <input type="password" id="nueva-contrasena"
                    name="nueva-contrasena" required>

                  <label for="repetir-contrasena">Repetir Nueva Contraseña:</label>
                  <input type="password" id="repetir-contrasena"
                    name="repetir-contrasena" required>
                  <button type="submit" id="boton-guardar4">Guardar Cambios</button>
                </form>
              </div>
            </div>

          </div>
          <div class="col col-sm-1 col-md col-lg"></div>
        </div>
      </div>
    </main>

    <footer th:replace="/fragments/footer :: footer" </footer></footer>
    <script src="../../js/color-modes.js"></script>
    <script src="../../js/borrar.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
  </body>
</html>

<!-- <main id="main-content" class="flex-grow-1">

      <h1 class="fw-light text-center pt-5 mb-4">Modificar Datos</h1>
      <div class="container-fluid p-0">
        <div class="row w-100 p-0 g-0">
          <div class="col-0 col-sm-2 col-md-3 col-lg-4"></div>
          <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <form
              class="form d-flex flex-column w-100 g-0 form-modificar p-0 m-0"
              method="POST" th:action="@{/cliente/modificar/__${cliente.id}__}" onsubmit="return validarFormulario()">
                <div>
                <input hidden name="id" th:value="${cliente.id}">
                </div>
              <div class="field w-100">
                <svg
                  class="svg-icon"
                  width="16"
                  height="16"
                  fill="currentColor"
                  viewBox="0 0 20 20">
                  <path
                    d="M12.075,10.812c1.358-0.853,2.242-2.507,2.242-4.037c0-2.181-1.795-4.618-4.198-4.618S5.921,4.594,5.921,6.775c0,1.53,0.884,3.185,2.242,4.037c-3.222,0.865-5.6,3.807-5.6,7.298c0,0.23,0.189,0.42,0.42,0.42h14.273c0.23,0,0.42-0.189,0.42-0.42C17.676,14.619,15.297,11.677,12.075,10.812 M6.761,6.775c0-2.162,1.773-3.778,3.358-3.778s3.359,1.616,3.359,3.778c0,2.162-1.774,3.778-3.359,3.778S6.761,8.937,6.761,6.775 M3.415,17.69c0.218-3.51,3.142-6.297,6.704-6.297c3.562,0,6.486,2.787,6.705,6.297H3.415z"></path>
                </svg>
                <input
                  autocomplete="off"
                  placeholder="Nombre"
                  class="input-field mb-3"
                  type="text"
                  name="nombre"
                  id="nombre"
                  th:value="${cliente.nombre}" 
                  readonly/>
                  <a href="#" id="enlace1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 -1 119 119" version="1.1">
                                <title/>
                                <desc/>
                                <defs/>
                                <g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
                                <g fill-rule="nonzero" id="edit">
                                <path d="M114.2,108.3 L4.8,108.3 C2.5,108.3 0.7,110.2 0.7,112.4 C0.7,114.6 2.6,116.5 4.8,116.5 L114.3,116.5 C116.6,116.5 118.4,114.6 118.4,112.4 C118.4,110.2 116.5,108.3 114.2,108.3 Z" fill="#4A4A4A" id="Shape"/>
                                <path d="M0.7,72 L0.6,91.5 C0.6,92.6 1,93.7 1.8,94.5 C2.6,95.3 3.6,95.7 4.7,95.7 L24.1,95.6 C25.2,95.6 26.2,95.2 27,94.4 L94,27.4 C95.6,25.8 95.6,23.2 94,21.5 L74.8,2.1 C73.2,0.5 70.6,0.5 68.9,2.1 L55.5,15.6 L1.9,69.1 C1.2,69.9 0.7,70.9 0.7,72 Z M71.9,10.9 L85.4,24.4 L77.8,32 L64.3,18.5 L71.9,10.9 Z M9,73.8 L58.4,24.4 L71.9,37.9 L22.5,87.2 L8.9,87.3 L9,73.8 Z" fill="#17AB13" id="Shape"/>
                                </g>
                                </g>
                                </svg>
                        </a>
                </div>
              
              
              <div class="field">
                <svg
                  class="input-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  viewBox="0 0 16 16">
                  <path
                    d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914z"></path>
                </svg>
                <input
                  autocomplete="off"
                  placeholder="Email"
                  class="input-field mb-3"
                  type="email"
                  name="email" 
                  id="email"
                  th:value="${cliente.email}"
                  readonly/>
                  <a href="#" id="enlace2">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="20px" viewBox="0 -1 119 119" version="1.1">
                        <title/>
                        <desc/>
                        <defs/>
                        <g fill="none" fill-rule="evenodd" id="Page-1" stroke="none" stroke-width="1">
                        <g fill-rule="nonzero" id="edit">
                        <path d="M114.2,108.3 L4.8,108.3 C2.5,108.3 0.7,110.2 0.7,112.4 C0.7,114.6 2.6,116.5 4.8,116.5 L114.3,116.5 C116.6,116.5 118.4,114.6 118.4,112.4 C118.4,110.2 116.5,108.3 114.2,108.3 Z" fill="#4A4A4A" id="Shape"/>
                        <path d="M0.7,72 L0.6,91.5 C0.6,92.6 1,93.7 1.8,94.5 C2.6,95.3 3.6,95.7 4.7,95.7 L24.1,95.6 C25.2,95.6 26.2,95.2 27,94.4 L94,27.4 C95.6,25.8 95.6,23.2 94,21.5 L74.8,2.1 C73.2,0.5 70.6,0.5 68.9,2.1 L55.5,15.6 L1.9,69.1 C1.2,69.9 0.7,70.9 0.7,72 Z M71.9,10.9 L85.4,24.4 L77.8,32 L64.3,18.5 L71.9,10.9 Z M9,73.8 L58.4,24.4 L71.9,37.9 L22.5,87.2 L8.9,87.3 L9,73.8 Z" fill="#17AB13" id="Shape"/>
                        </g>
                        </g>
                        </svg>
                </a>
              </div>
              
              <div class="field">
                <svg
                id="icon1"
                  class="input-icon hidden"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  viewBox="0 0 16 16">
                  <path
                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"></path>
                </svg>
                <input id="newPassword" placeholder="Contraseña" class="input-field mb-3 hidden"
                  type="password" name="password" th:value="${cliente.password}" />
              </div>
              <div class="field">
                <svg
                id="icon2"
                  class="input-icon hidden"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  viewBox="0 0 16 16">
                  <path
                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"></path>
                </svg>
                <input id="confirmPassword" placeholder="Repetir contraseña" class="input-field mb-3 hidden"
                  type="password" name="password2" th:value="${cliente.password}"/>
              </div>
              <div class="field" th:each="direccion : ${cliente.direccion}">



              </div> -->
<!-- <div class="px-2 d-flex flex-column align-items-center">
                <button
                  id="btn-cambiar"      
                  type="button"
                  onclick="mostrarPasswords()"
                  class="btn btn-success w-100 mb-4">
                  Cambiar Contraseña
                </button>
                <button
                  type="submit"
                  class="btn btn-primary w-100 mb-4">
                  Modificar
                </button>
                <a href="/inicio"
                  class="btn btn-secondary w-50">Cancelar</a>
              </div>
            </form>
          </div>
          <div class="col-0 col-sm-2 col-md-3 col-lg-4"></div>
        </div>
      </div>
    </main> -->
