<!DOCTYPE html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <th:head th:replace="./fragments/head.html :: head"></th:head>

  <body>

    <th:div th:replace="./fragments/exitoError.html :: div"></th:div>

    <th:header th:replace="./fragments/header.html :: header"></th:header>

    <div id="deleteModal"
      class="modal">
      <div class="modal-content">
        <div class="mb-2">
          <span class="d-flex justify-content-end close"
            onclick="closeDeleteModal()">&times;</span>
          <h2 class="d-flex justify-content-center">ServiceBook</h2>
        </div>
        <hr>
        <h5 class="text-center mb-3 mt-3">¿Está seguro que desea dar de baja su
          cuenta?</h5>
        <form th:action="@{/usuario/baja/__${usuario.id}__}"
          method="POST" class="d-flex flex-column">
          <div
            class="d-flex flex-column justify-content-center align-items-center">
            <label for="habilitar" class="mb-1 text-white">Habilitar Botón</label>
            <input type="checkbox" id="habilitar" name="habilitar">
          </div>
          <button type="submit" id="btnEliminar" class="mb-4 mt-4 btn" disabled>Si,
            eliminar</button>
          <button type="button" id="btnCancelar" class="mb-4 btn">Cancelar</button>
        </form>
      </div>
    </div>

    <main id="main-content">
      <div
        class="text-white titulo-modificar w-100 d-flex justify-content-center align-items-center">
        <h1>
          Registrar Profesiones
        </h1>
      </div>
      <div class="container-fluid p-0 mt-5 g-0 contenedor-modificar">
        <div class="row p-0 m-0 no-gutters w-100">
          <div class="col col-sm-1 col-md col-lg"></div>
          <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <div id="detalles-direccion">
              <th:div class="mensajeExitoError" th:replace="./fragments/exitoError.html :: div"></th:div>
              <fieldset class="mb-3">
                <div>
                  <form th:action="@{/profesion/registrar}" method="POST"
                    class="w100">
                    <label for="inputProfesion" class="mb-1">Profesion</label>
                    <input th:value="${nombre}" type="text"
                      class="form-control mb-3" name="nombre"
                      id="inputProfesion">
                    <button type="submit"
                      class="btn btn-primary mt-3 btnProfesion">
                      Registrar Profesion </button>
                  </form>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="col col-sm-1 col-md col-lg"></div>
        </div>
      </main>

      <th:footer th:replace="./fragments/footer.html :: footer"></th:footer>
      <script src="../../js/color-modes.js"></script>
      <script src="../../js/borrar.js"></script>
      <script src="../../js/bootstrap.bundle.min.js"></script>
    </body>
  </html>
