<!DOCTYPE html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:head th:replace="./fragments/head.html :: head"></th:head>

    <body>
    
        <th:div th:replace="./fragments/exitoError.html :: div"></th:div>

        <th:header th:replace="./fragments/header.html :: header"></th:header>

        <main id="main-content">

            <div class="container-fluid m-0 p-0 g-0 w-100 contenedor">
                <div class="row p-0 m-0 g-0 w-100">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <!-- <div><div th:replace="/fragments/exitoError :: div" </div></div>                  -->
                        <div class="table_header">
                            <h1 class="py-5 mb-1 text-center">Proveedores ServiceBook</h1>
                            <!-- <select name id>
                                <option value selected>Tipo</option>
                                <option value>Tipo1</option>
                                <option value>Tipo2</option>
                            </select>
                            <div class="input_search">
                                <input type="search" placeholder="Buscar" />
                                <i class="bi bi-search" id="search"></i>
                            </div> -->
                        </div>
                        <table class="table table-bordered table-striped-columns border-primary table-hover">
                            <thead class="table-dark">
                                <tr>
                                    <th class="text-center" scope="col">Id</th>
                                    <th class="text-center" scope="col">Email</th>
                                    <th class="text-center" scope="col">Nombre</th>
                                    <th class="text-center" scope="col">Fecha de Alta</th>
                                    <th class="text-center" scope="col">Rol</th>
                                    <th class="text-center" scope="col">Alta</th>
                                    <th class="text-center" scope="col">Disponible</th>
                                    <th class="text-center" scope="col">Aprobacion</th>
                                    <th class="text-center" scope="col">Cambiar Rol</th>
                                    <th class="text-center" scope="col">Cambiar Estado</th>
                                    <th class="text-center" scope="col">Cambiar Disponible</th>
                                    <th class="text-center" scope="col">Aprobar</th>
                                    <th class="text-center" scope="col">Editar</th>
                                    <th class="text-center" scope="col">Ver</th>
                                </tr>
                            </thead>
                            <tbody th:each="proveedor : ${proveedores}">
                                <tr>
                                    <td class="text-center" th:text="${proveedor.id}"></td>
                                    <td class="text-center" th:text="${proveedor.email}"></td>
                                    <!-- <td ><a><img th.if="${usuario.imagen != null}" class="logo" th:src="@{/imagen/perfil/__${proveedor.id}__}" ></a></td> -->
                                    <td class="text-center" th:text="${proveedor.nombre}"></td>
                                    <td class="text-center" th:text="${proveedor.fechaDeAlta}"></td>
                                    <td class="text-center" th:text="${proveedor.role}"></td>
                                    <td class="text-center" th:text="${proveedor.alta}" ></td>
                                    <td class="text-center" th:text="${proveedor.disponible}"></td>
                                    <td class="text-center" th:text="${proveedor.aprobacion}"></td>
                                    <td>
                                        <a
                                            th:href="@{/admin/proveedorRotarRol/__${proveedor.id}__}"
                                            class="button-link d-flex justify-content-center">
                                            <img src="../../img/refresh.png" alt="actualizar rol">
                                        </a>
                                    </td>
                                    <td><a
                                            th:href="@{/admin/proveedorEstado/__${proveedor.id}__}"
                                            class="button-link d-flex justify-content-center">
                                            <img src="../../img/refresh.png" alt="actualizar estado">
                                        </a>
                                    </td>
                                    <td>
                                        <a
                                            th:href="@{/admin/proveedorDisponible/__${proveedor.id}__}"
                                            class="button-link d-flex justify-content-center">
                                            <img src="../../img/refresh.png" alt="actualizar disponible">
                                        </a>
                                    </td>
                                    <td>
                                        <a
                                            th:href="@{/admin/proveedorAprobar/__${proveedor.id}__}"
                                            class="button-link d-flex justify-content-center">
                                            <img src="../../img/edit.png" alt="actualizar aprobar">
                                        </a>
                                    </td>
                                    <td><a
                                            th:href="@{/admin/perfil/__${proveedor.id}__}"
                                            class="button-link d-flex justify-content-center">
                                            <img src="../../img/edit.png" alt="editar perfil">
                                        </a>
                                    </td>
                                    <td><a
                                        th:href="@{/admin/perfil/__${proveedor.id}__}"
                                        class="button-link d-flex justify-content-center">
                                        <img src="../../img/edit.png" alt="Ver perfil">
                                    </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>

        </main>

        <th:footer th:replace="./fragments/footer.html :: footer"></th:footer>
            <script src="../../js/color-modes.js"></script>
            <script src="../../js/borrar.js"></script>
            <script src="../../js/bootstrap.bundle.min.js"></script>
        </body>
    </html>
