<!DOCTYPE html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="/fragments/head :: head" </head></head>

  <body class="bg-gradient" style="background-image: linear-gradient(180deg, #e76b74  #D7AF70)">

    <header th:replace="/fragments/header :: header" </header></header>

  <main id="main-content">

    <div class="container-fluid m-5 contenedor">
      <form class="formulario" th:action="@{proveedor/registrar}" method="POST" enctype="multipart/form-data">
          <div class="form-group my-3">
            <input hidden th:value="${cliente.id}" type="text" class="form-control" name="idCliente"> 
              <label class="mb-2">Nombre</label>
              <input th:value="${cliente.nombre}" type="text" class="form-control" name="nombre" placeholder="nombre de Proveedor">
              <label class="mb-2">Email</label>
              <input th:value="${cliente.email}" type="email" class="form-control" name="email" placeholder="email">
              <label class="mb-2">Rol</label><br>
              <label class="mb-2" th:value="${cliente.role}"></label>
              <label class="mb-2">Password</label>
              <input th:value="${cliente.password}" type="password" class="form-control" name="password" placeholder="password al menos 6 digitos">
              <label class="mb-2">Verificar Password</label>
              <input th:value="${cliente.password2}" type="password" class="form-control" name="password2" placeholder="reingrese password">
              <label class="mb-2">Rol</label><br>
              <label class="mb-2" th:value="${cliente.fechaDeAlta}"></label>                

              
              <label class="mb-2">Email de contacto</label>
              <input type="email" class="form-control" name="emailDeContacto" placeholder="email de contacto">
              <label class="mb-2">Numero de contacto</label>
              <input type="text" class="form-control" name="numeroDeContacto" placeholder="Numero de contacto">

              <label class="mb-2">Profesiones</label>
              <select name="rol" id="" sec:authorize="hasRole('ADMIN')">
                  <option selected th:if="${rol == var}" 
                      th:each="rol : ${roles}"
                      th:value="${rol}"
                      th:text="${rol}">
                  </option> 
                  <option th:if="${rol != var}"
                      th:each="rol : ${roles}"
                      th:value="${rol}"
                      th:text="${rol}">
                  </option>
              </select><br>   
              <label class="mb-2">Presentacion</label>
              <textarea type="text" class="form-control" name="presentacion" placeholder="presentacion del proveedor"></textarea>
              <label class="mb-2">Precio por hora</label>
              <input type="text" class="form-control" name="precioPorHora" placeholder="Precio por hora">
              <label class="mb-2">imagen</label>
              <input th:value="${archivo}" type="file" class="form-control" name="archivo" placeholder="cargar imagen">
              <input type="checkbox" name="disponible" />
              <label class="mb-2">Disponible</label>

          </div>
          <div><div th:replace="/fragments/exitoError :: div" </div></div>                 
          <button type="submit" class="btn btn-primary mt-3"> Registo Proveedor </button>
      </form>
  </div>

  </main>

  <div><footer th:replace="/fragments/footer :: footer" </footer></div>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
