<!DOCTYPE html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="/fragments/head :: head" </head></head>

  <body class="bg-gradient" style="background-image: linear-gradient(180deg, #e76b74  #D7AF70)">

    <svg th:replace="/fragments/svg :: svg" </svg></svg>
    <header th:replace="/fragments/header :: header" </header></header>

  <main id="main-content">
    
    <h1 class="fw-light bienvenido">Contenido ServiceBook</h1>

  </main>

  <div><footer th:replace="/fragments/footer :: footer" </footer></div>
  <script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>
